h3 {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 1px;
    text-align: center;
}

h2{
    text-align: center;
}

/*TEMOS QUE LEMBRAR DA HERANCA POIS TEM VARIOS ITENS QUE ESTAO DENTRO DO BODY
*/

body{
    color: rgb(43, 43, 46);
    background-color:white;
    font-family: 'Jersey 15', serif;
    font-size: 20px;
    /*font-weight: 250;*/
}

p{
    font-size: 18px;
    font-style: italic;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;;
    /*text-decoration: overline;*/
    /*text-transform: uppercase;*/
    /*word-spacing: 15px;*/
    /*letter-spacing: 1px;*/
    /*line-height: 15px;*/

}

ol{
    /*list-style: lower-alpha;*/
    /*list-style: upper-alpha;*/
    /*list-style: upper-roman;*/
    list-style: lower-roman;
}


ul{
    list-style: circle;
    /*
    list-style: url(/HTML_&_CSS/imagens/pexels.jpg); 
    Podemos passar imagens como marcadores
    */ 
}

/*ol, ul {list-style: none;} 

zerando formatacao nas listas
*/

img {
    width: 80%; /*A IMAGEM GERALMENTE POR PADRAO É DEFINIDA COM PORCENTAGEM*/
    border-radius: 10px 10px 20px 20px; /*ARREDONDAMENTO DA IMAGEM*/
    /*filter: blur(1px);
    filter: brightness(200%);
    filter: saturate(500%);
    filter: contrast(500%)
    filter:grayscale(100%)
    filter: drop-shadow(2px 10px 55px #3a3a3a);*/
    filter: opacity(50%);
}

/*A REGRA AQUI SO VALE COM O QUE TIVER O MOUSE EM CIMA*/

img:hover {
    filter: opacity(100%)
}

a:hover{
    color: aqua;
    text-decoration: underline;
}